<html>

<head>
	<title>
		<%= Espetaculos SAE Digital %>
	</title>
</head>

<body>
	<div>
		<a href="/">Home</a> |
		<a href="/espetaculos/add">Adicione novo espetaculo</a> |
		<a href="/espetaculos">Lista de todos os usuários</a>
	</div>
	<h1>
		<%= title %>
	</h1>